* {text-align: center;}

h1 {
    color: #125988;
    @include responsive-text(24px, 36px); 
  }
  
  h2 {
    color: #1e78ff;
    @include responsive-text(18px, 28px);
  }
  
  
@mixin responsive-text($min-size, $max-size) {
    font-size: $min-size;
  
    @media (min-width: 768px) {
      font-size: $max-size;
    }
  }
  
  
  .button {
    background-color: #9bd7ff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    @include responsive-text(14px, 18px); 
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #098b14;
    }
  }
  